spring:
  datasource:
    url: jdbc:postgresql://localhost:5555/container
    username: container
    password: container
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
