spring:
  liquibase:
    change-log: classpath:changelog.xml
  datasource:
    url: jdbc:postgresql://localhost:5555/container
    username: container
    password: container
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org:
      springframework:
        security: DEBUG
